<div tal:attributes="class php:'abstractdirectory-block ' . moduleName . '-abstractdirectory-block'">

	<h2 class="title" tal:condition="displaycontainerlabel" tal:content="container/getLabel" />
		
	<tal:block change:menu="menuObject horizontalMenu; itemName item; maxLevel '-1'; masterUlClass folder-horizontal">
		<a class="link" tal:condition="item/hasUrl" tal:attributes="href item/getUrl" tal:content="item/getLabel" />
		<strong tal:condition="not: item/hasUrl" tal:content="item/getLabel" />
	</tal:block>

	<p tal:condition="containerParentParam" class="return-link">
		<a change:currentpagelink="containerParentParam" tal:content="trans:m.abstractdirectory.frontoffice.backtoparentcontainer,ucf"/>
	</p>

	<div class="column-one">
		<span tal:condition="not: messageContent" tal:replace="itemsContent"/>
		<span tal:condition="messageContent" tal:replace="messageContent" />
	</div>
	
	<div class="column-two">
		<span tal:condition="menu" tal:omit-tag="">
			<h2 class="title" tal:content="trans:m.abstractdirectory.frontoffice.subcontainermenutitle,ucf" />
			<tal:block change:menu="menuObject menu; itemName item; maxLevel '1'; masterUlClass folder-vertical">
				<a class="link" tal:attributes="href item/getUrl" tal:content="item/getLabel" />
			</tal:block>
			<p class="subfolder" tal:content="trans:m.abstractdirectory.frontoffice.nbsubcontainerhelp,ucf" />
		</span>
	</div>
	
	<div class="cleaner"></div>

	<span change:paginator="paginator" tal:omit-tag=""/>
	
</div>